* {
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.align-center {
    align-items: center;
}

.btn {
    color: white;
    background-color: rgb(23,162,184);
    margin-left: 411px;
}

.border-50 {
    border-radius: 50%;
    background-color: white;
    color: black;
    padding: 10px;
}

.card-header {
    background-color:rgb(1,47,133);
    height: 75px;
}

.card-body {
    margin-top: 40px;
}

#completed {
    height: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

#conn-header {
    display: flex;
    flex-direction: row;
    background-color: rgb(51,51,51);
    color: white;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.connections {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px 10px 10px
}

.conn-pic {
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.display-flex {
    display: flex;
}

#education {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding-bottom: 5px;
    margin-top: 25px;
    margin-left: 100px;
}

#edit-profile {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#edu-body {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-bottom: 10px;
}

#edu-header {
    background-color: rgb(51,51,51);
    color: white;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#edu-info {
    display: flex;
}

#friend-requests {
    margin-top: 25px;
    margin-left: 25px;
    border: solid grey 2px;
}

.flex-row{
    flex-direction: row;
}

#gear {
    height: 18px;
    padding-right: 10px;
}

#high-school {
    margin-top: 10px;
}

.icons {
    height: 25px;
    padding-right: 10px;
}

.l_margin_25 {
    margin-left: 25px;
    margin-top: 10px;
}

.l_padding_10 {
    padding-left: 10px;
}

#left-side {
    display: flex;
    flex-direction: column;
    width: 600px;
}

#main-flexbox {
    display: flex;
}

#marker {
    height: 18px;
    padding-right: 15px;
}

.nav {
    background-color:black;
    display: flex;
    align-content: center;
    color: white;
} 

.nav a {
    color: white;
    text-decoration: none;
}

.nav-buttons {
    margin-left: 25px;
}

.nav-links {
    align-items: center;
    display: flex;
    list-style-type: none;
    margin-right: 25px;
}

.nav-title {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

#request-header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(51,51,51);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

.request-page {
    display: flex;
    flex-direction: column;
}

.requests {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    justify-content: space-between;
}

.request_id {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.requests p {
    margin-bottom: 15px;
}

.request-pic {
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-right: 10px;
}

#right-side {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.user-body {
    margin-left: 25px;
}

.user-card {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-left: 100px;
}

#user-pic {
    border-radius: 50%;
    background-color: lightgrey;
    padding: 5px;
    height: 75px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    top: 10px;
}

#view-more {
    border-top: solid grey 2px;
    padding-top: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#your-connections {
    margin-top: 25px;
    margin-left: 25px;
    border: grey solid 2px;
}























